  <div class="blog-post">
    <h2 class="blog-post-title">
      <%= @blog.title %>
    </h2>

    <%= @blog.body %>
  </div>

<% if logged_in?(:site_admin) %>
  <%= link_to 'Edit', edit_blog_path(@blog)  %> |
<% end %>
<%= link_to 'Back', blogs_path, class:'btn btn-outline-primary' %>

<%= render 'comments/comment_form' %>
<div id="comments" data-blog-id="<%= @blog.id %>">
  <%= render @blog.comments %>
</div>
