<div class="card text-center">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <h2>Sign up</h2>
      </div>

     <div class="col-md-6">

       <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
         <%= devise_error_messages! %>

       <div class="form-group">
         <%= f.label :email %><br />
         <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
       </div>

       <div class="form-group">
         <%= f.label :name %><br />
         <%= f.text_field :name, autocomplete: "name", class:'form-control' %>
       </div>

     </div>
     <div class="col-md-6">
       <div class="form-group">
         <%= f.label :password %>
         <% if @minimum_password_length %>
         <em>(<%= @minimum_password_length %> characters minimum)</em>
         <% end %><br />
         <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
       </div>

       <div class="form-group">
         <%= f.label :password_confirmation %><br />
         <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control' %>
       </div>


     </div>
     <div class="col-md-5"></div>
     <div class="col-md-2">
       <div class="form-group">
         <%= f.submit "Sign up", class:'btn btn-outline-primary btn-block' %>
       </div>
    <% end %>
     </div>
     <div class="col-md-5">
     </div>
     <div class="col-md-12">
       <div class="auth-links register-text">
         <%= render "devise/shared/links" %>
       </div>
     </div>
   </div>
  </div>
</div>
