<div class="row mb-2 mt-2">
  <div class="col-md-1">
    <%= gravatar_helper comment.user %>  
  </div>
  <div class="col-md-11">
    <div class="card">
      <div class="card-body">
        <%= comment.content %>
      </div>
      <div class="card-footer text-muted">
        Comment posted by <%= comment.user.first_name %> <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago.
      </div>
    </div>
  </div>
</div>
