<%= form_for @portfolio_item do |form| %>
  <% if @portfolio_item.errors.any? %>
    <% @portfolio_item.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Stephen Swann's Blog", sticky: false) %>
    <% end %>
  <% end %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :subtitle %>
    <%= form.text_area :subtitle, class:'form-control'%>
  </div>

  <div class="form-group">
   <label class="btn btn-primary">
     Upload thumbnail image file <%= form.file_field :thumb_image, style:'display:none;' %>
   </label>
  </div>
  
  <div class="form-group">
   <label class="btn btn-primary">
     Upload main image file <%= form.file_field :main_image, style:'display:none;' %>
   </label>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class:'form-control', rows:7 %>
  </div>

  <div class="form-group">
    <%= form.fields_for :technologies, class:'form-control' do |technology_form| %>
      <%= render 'technology_fields', :form => technology_form %>
    <% end%>
    <%= link_to_add_association 'Add Technology', form, :technologies, form_name: 'form', class:'btn btn-success' %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class:'btn btn-outline-success' %>
  </div>
<% end %>
