<div class="col-md-4">
  <div class="card mb-4" data-id="<%= portfolio_item.id %>">
      <%= link_to portfolio_show_path(portfolio_item) do %>
        <%= image_tag portfolio_item.thumb_image, class:'card-img-top' unless portfolio_item.thumb_image.nil? %>
      <% end %>
    <div class="card-body">
      <%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %>
      <%= portfolio_item.subtitle %>
      <div class="btn-group">
      <% if logged_in?(:site_admin) %>
        <%= link_to 'Edit', edit_portfolio_path(portfolio_item), class:'btn btn-sm btn-outline-warning'  %>
        <%= link_to 'Delete', portfolio_path(portfolio_item), class:'btn btn-sm btn-outline-danger', method: :delete, data: {
        confirm: 'Are you sure?' }  %>
      <% end %>
      </div>
    </div>
  </div>
</div>
