<div class="nested-fields">
  <div class="field">
  <%= form.label :name, 'Technology' %>
  <%= form.text_field :name, class:'form-control' %>
  </div>
<%= link_to_remove_association "Remove Technology", form, class:'btn btn-danger' %>
</div>
