<div class="container">
  <div class="row">
  
    <div class="col-md-4">
      <h1>Edit a Portfolio Item</h1> 
    </div>
    <div class="col-md-6">
      <%= render 'form', portfolio_item: @portfolio_item %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
