<span class="float-right">
  <%= link_to 'Create New Item', new_portfolio_path, class:'btn btn-outline-success' if logged_in?(:site_admin) %>
</span>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row  <%= "sortable" if logged_in?(:site_admin) %>">
      <%= render partial: 'portfolio_item', collection: @portfolio_item %>
    </div>
  </div>
</div>
