<div class="container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @portfolio_item.main_image, width:'100%' %>
    </div>
    <div class="col-md-5">
      <h1><%= @portfolio_item.title %></h1>

      <em><%= @portfolio_item.subtitle %></em>

      <p><%= @portfolio_item.body %></p>

      <h2>Technologies Used:</h2>

      <% @portfolio_item.technologies.each do |t| %>
        <p><%= t.name %></p>
      <% end %>
      <% if logged_in?(:site_admin) %>
        <%= link_to 'Edit', edit_portfolio_path, class:'btn btn-sm btn-outline-warning'  %>
        <%= link_to 'Delete', portfolio_path, class:'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
</div>

