<div class="login">
  <div class="card card-body">
    <div class="row">
      <div class="col-md-12">
       <h2>Forgot your password?</h2>

       <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
         <%= devise_error_messages! %>

         <div class="form-group">
           <%= f.label :email %><br />
           <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
         </div>

         <div class="form-group">
           <%= f.submit "Reset password", class:'btn btn-outline-danger' %>
         </div>
       <% end %>
        <div class="auth-links">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
