<% if flash[:alert] %>
  <%= js add_gritter(flash[:flash], title: "Stephen Swann's Portfolio", sticky: false)  %>
<% elsif flash[:error] %>
  <%= js add_gritter(flash[:error], title: "Stephen Swann's Portfolio", sticky: false) %>
<% else %>
  <%= js add_gritter(flash[:notice], title: "Stephen Swann's Portfolio", sticky: false) %>
<% end %>
