 <aside class="col-md-4 blog-sidebar">
   <div class="p-3 mb-3 bg-light rounded">
     <h4 class="font-italic">About </h4>
     <p class="mb-0">I am an application developer specializing in Ruby on Rails and Angular.  I am available to start on new projects so feel free to reach out to me by phone or email.</p>
   </div>

   <div class="p-3">
     <h4 class="font-italic">I am elsewhere, also</h4>
     <ol class="list-unstyled">
       <li><a href="https://bitbucket.org/scswan85"><%= fa_icon "bitbucket 3x" %></a></li>
       <li><a href="https://www.instagram.com/stephenswann"><%= fa_icon "instagram 3x" %></a></li>
       <li><a href=""></a></li>
     </ol>
   </div>
 </aside>
