
 <header class="blog-header py-3">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 pt-1">
      <a class="text-muted" href="#">Subscribe</a>
    </div>
    <div class="col-4 text-center">
      <a class="blog-header-logo text-dark" href="#">Stephen's Blog</a>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <%= login_helper "btn btn-sm btn-outline-secondary" %>
    </div>
  </div>
 </header>
