<main role="main">
  <section class="jumbotron text-center">
   <div class="container">
     <h1 class="jumbotron-heading">My Portfolio</h1>
     <p class="navbar text-muted">Welcome to my portfolio. Below you can see some of my recent projects.  Please reach out to me with any questions.</p>
      <%= link_to "Contact Me", contact_path, class:"btn btn-primary my-2" %>
      <%= link_to "About Me", about_path, class:"btn btn-secondary my-2" %>
   </div>
  </section>
</main>
