<footer class="text-muted">
  <div class="container">
    <div class="float-right">
    
    <% if params[:action] == 'show' or 'new' or 'edit' %>
      <%= link_to (fa_icon "folder-open 2x"), portfolios_path %>
      <%= link_to "Back to Portfolio", portfolios_path %>
    <% end %>
    <%= link_to (fa_icon "arrow-circle-up 2x"), "#" %>
    <%= link_to "Top of top (of the page)!", "#" %>
    </div>
    <%= copyright_generator %>
  </div>
</footer>
