<h1>About Me</h1>
<hr />

<div class="row">
  <div class="col-md-12">
  <p>
    I grew up in South Florida and was always interested in computers and the way things worked. As soon as we had our first family computer I was interested in how it worked and what was going on inside. Luckily nobody else in the house was very interested, so I could break and fix things at will. Throughout my life I have been interested in coding and building things from scratch in a custom way.  I have always been interested in making things not only easier for myself but for anyone who was interested in doing something a little different.
  </p>
  
  <p>After the military I decided to use my GI Bill at the University of South Florida in their IT Department. Aside from the military and USF I have worked for a handful of companies from small to large and so I have a good understanding of business and the importance of keeping things moving smoothly and any changes are easily adoptable by the staff members that use the systmes daily.</p>
  </div>
</div>
