<h1>Here's how you can contact me.</h1>

<h3>Phone</h3>

<p><%= number_to_phone "5612471346" %></p>

<h3>Email</h3>

<p><a href="mailto:stephen.swann@me.com?subject=PortfolioContact" "Email me">Email me</a></p>

