<main role="main" class="inner cover">
	<h1 class="cover-heading">Welcome to Stephen Swann's site</h1>
	<p class="lead">Welcome to my Portfolio.  If you have any questions feel free to contact me.  I would love to speak with you and discuss how I can make your business run smoother and more productively.</p>
	<p class="lead">
		<%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
	</p>
</main>
