<main role="main" class="inner cover">
  <h1 class="cover-heading">
   Developer News
  </h1>
    <div class="row">
      <% @tweets.each do |tweet|  %>
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body .link-primary">
             <%= twitter_parser tweet %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</main>
