<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= favicon_link_tag 'favicon/favicon-lightbulb-o.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <%= video_tag(
     'source_code_background.mp4',
     id: 'background', 
     autoplay: true,
     loop: true,
     muted: true,
     poster: 'source_code_background.png'
        ) %>
      <%= render "shared/application_nav" %>

      <%= yield %>

      <%= render "shared/application_footer" %>

      <%= alerts %>

      <%= source_helper %>
    </div>
  </body>
</html>
