<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= favicon_link_tag 'favicon/favicon-lightbulb-o.ico' %>
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
   <div class="container">
    <%= render "shared/blog_header" %>  
     <%= render "shared/blog_nav", location: "bottom"%>

   </div>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom">What am I learning? Never stop learning!</h3>
          <%= yield %>
        </div>
      <%= render "shared/blog_sidebar" %>
      </div>
    </main>

      <%= render "shared/blog_footer", location: "bottom" %>
    
    </div>

    <%= alerts %>
    <%= source_helper %>
  </body>
</html>
